<div> 
    {{{body}}}


{{#if blogs.length}}
    <h3>Current Blog Templates:</h3>
    {{#each blogs as |blog|}}
      <div class="blogContainer">
        <h4 class="title"><a  href="/project/{{project.id}}">{{blog.title}}</a></h4>
        <h4 class="content"><a  href="/project/{{project.id}}">{{blog.content}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}


    </div>   
